.icons:hover{
    color: #6f42c1;
}
li:hover {
    padding: 2% 3%;
    border-color: #6f42c1;
}
button:hover{
    background: #262626b9;
}

img{
    animation: rotate 2s infinite linear ;
}
@keyframes rotate {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    
    }
    
}