*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( to left, rgb(31, 31, 31),black );
}
header{
    background-color: aqua;
    height: 10%;
}
main{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 70%;
}
main > section {
    background-color: aquamarine;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    color: aliceblue;
}
.links {
}
.animation {
    height: 1%;
    width: 100%;
    border: none;
    background-color:blueviolet;
    animation: neonRgb 0.5s infinite alternate;
}
ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 2%;
    width: 100%;
    padding:0 0.5%;
    height: 90%;
    width: 50%;
    margin-left: auto;
}
li{
    padding: 1% 2%;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.824);
    border: 1px solid rgb(52, 52, 52);
    transition: .4s;
}
li:hover {
    padding: 2% 3%;
    border-color: #6f42c1;
}
.icons{
    color: #0c0c0c;
    font-size: 32px;
    transition: .4s;
}
.icons:hover{
    color: #6f42c1;

}
.created{
    font-size: 12px;
    width: 100px;
    flex-basis: 100%;
    text-align: end;
    color:#6f42c1;
}

@keyframes neonRgb{
    100%{
        box-shadow: 0 0 2px rgb(147, 64, 255);
        background-color: rgb(120, 37, 255);
    }

}

/* #6f42c1 */
