textarea{
    width: 90%;
    height: 50%;
    background-color: rgba(97, 97, 97, 0.47);
    border: 1px solid #6f42c1;
    color: #6f42c1;
    padding: 10px;
    outline: none;
    resize: none;
    
}
button{
    padding: 2%;
    width: 20%;
    font-size: 18px;
    font-weight: 500;
    color: #6f42c1;
    border-radius: 10px;
    border: 1px solid #6f42c1;
    background-color: #6e42c100;
    transition: .5s;
}